/* The Mighty Ducks */

/* Cherry Red: #C40000 */

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    height: 100%;
    background: #C40000 url(bgfade_fd_w.png) top center repeat-x;
    text-align: center;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

#container {
    position: relative;
    width: 960px;
    min-height:100%;
    margin: 0 auto;
}

#header {
    height: 70px;
    margin-bottom: 5px;
    padding: 5px;
    background: grey;
}
#nav {
    height: 50px;
    background: white;
    margin-bottom: 5px;
}
#maincontent {
    background: #999999;
    min-height: 500px;
    padding-bottom: 105px;
}
#footer {
    position: relative;
    bottom: 0;
    height: 30px;
    width: 100%;
    margin-top: 5px;
    padding-top: 20px;
    color: white;
    /*background: #666;*/
}
#footer span {
    position: relative;
    bottom: 0;
}